@charset "utf-8";
/* CSS Document */

body {
	background-image: url('http://kilikitik-net.googlecode.com/svn/trunk/imgIDP/backgroundA.png');
	background-repeat: no-repeat;
	background-position: center top;
	margin: 0 auto;
	font-family: Arial, Tahoma, Geneva, sans-serif;
	font-size: 12px;
	background-color: #000;
	color: #9b9b9b;
}
body.kr {
	font-family: "Malgun Gothic";
}
a {
	color: #9b9b9b;
	outline: none;
	text-decoration: none;
}

a > img {
	border: 0;
}

ul {
	margin: 0;
	padding: 0;
}

.clear-both {
	clear: both;
}

/* Header */
.header {
	width: 100%;
	height: 70px;
	margin-bottom: 20px;
}

.header > div:first-child {
	width: 860px;
	margin: 0 auto;
}

.header > div .logo {
	float: left;
	margin-top: 15px;
}

.header > div .languages {
	float: right;
	margin-top: 15px;
}

/* Content */
.content {
	width: 860px;
	margin: 0 auto;
    text-align: center;
}

.content .amount-caption {
	float: left;
	margin-top: 345px;
	width: 505px;
	padding-left: 45px;
}

.content .amount-caption p {
	text-align: center;
	width: 300px;
}

.content .amount-caption img
{
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content .amount-caption img:hover{
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.content .amount-caption #percent {
	color: #ffd200;
	font-size: 75px;
	font-weight: bolder;
	line-height: 106px;
}

.content .amount-caption #bonus-text {
	color: #FFFFFF;
	font-size: 22px;
	font-weight: bolder;
}

.content .amount-caption #up-to {
	color: #ffffff;
	font-size: 22px;
	font-weight: bolder;
	vertical-align: top;
}

.content .amount-caption #currency {
	color: #ffd200;
	font-family: verdana;
	font-size: 40px;
	font-weight: bolder;
	line-height: 34px;
}
.kr .content .amount-caption #currency {
	font-family: "Malgun Gothic";
}
.content > .navigation {
	float: right;
	margin-right: 70px;
	margin-top: 37px;
	width: 220px;
}

.content .navigation ul {
	list-style: none;
}

.content .navigation ul li {
	display: inline-block;
	font-size: 25px;
	font-weight: bolder;
	line-height: 17px;
	margin-right: 10px;
	margin-top: 15px;
	text-align: center;
	vertical-align: bottom;
}

.content .navigation ul li .img-thumb {
	width: 217px;
	height: 57px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-bottom: 0;
}

.content .navigation ul li .img-thumb > img {
	margin-top: 8px;
}

.content .navigation ul li .img-caption {
	background: url('http://smkt.dafapromo.com/dafa888/2015/first-deposit-bonuses3/images/button-bg.png') repeat;
	width: 217px;
	height: 57px;
	border: 1px solid #FFFFFF;
}

.content .navigation ul li .img-caption p {
  line-height: 22px;
  margin-top: 11px;
}
.kr .content .navigation ul li .img-caption p {
	line-height: 23px;
}
.content .navigation ul li br {
	margin: 0;
}

.navigation ul li a {
	color: #ffd200;
}

.navigation li a span {
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
}

/* Footer */
.footer > div:first-child {
	border: 1px solid #403f40;
	bottom: 0;
	margin: 23px auto 0;
	width: 860px;
}

.footer .customer-support-box {
	background: url('http://smkt.dafapromo.com/dafa888/2015/first-deposit-bonuses3/images/customer-support-box.png') no-repeat;
	height: 48px;
	width: 704px;
	margin: 20px auto 0;
}

.customer-support-box #inquiry {
	float: left;
	font-size: 10px;
	margin-left: 88px;
	margin-top: 12px;
	width: 376px;
}

.customer-support-box #inquiry ul {
	list-style: none;
}

.customer-support-box #inquiry ul li:first-child {
	background: none;
	width: 166px;
	text-align: left;
	line-height: 19px;
}

.customer-support-box #inquiry ul li {
	background: url("http://smkt.dafapromo.com/dafa888/2015/first-deposit-bonuses3/images/email.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	display: inline-block;
	height: 25px;
	margin-right: 5px;
	vertical-align: middle;
	width: 85px;
	text-align: center;
}

.customer-support-box #inquiry ul li:hover {
	opacity: 0.8;
}

.customer-support-box #inquiry ul li a {
	color: #000000;
	line-height: 20px;
}

.customer-support-box #social-button {
	float: right;
	font-size: 10px;
	margin-right: -8px;
	margin-top: 10px;
	width: 198px;
}

.customer-support-box #social-button ul {
	list-style: none;
}

.customer-support-box #social-button ul li {
	display: inline-block;
	vertical-align: middle;
}

.customer-support-box #social-button ul li:first-child {
	padding-right: 5px;
}

.customer-support-box #web-links {
	width: 700px;
	margin: 15px auto;
}

.customer-support-box  #web-links ul {
	list-style: none;
	text-align: center;
}

.customer-support-box #web-links ul li {
	border-right: 1px solid #9b9b9b;
	display: inline-block;
	font-size: 9px;
	padding-left: 2px;
	padding-right: 5px;
	text-transform: uppercase;
}

.customer-support-box #web-links ul li:last-child {
	border-right: none !important;
}

.customer-support-box #payment-methods {
	width: 700px;
	margin: 0 auto;
}

.customer-support-box #payment-methods ul {
	list-style: none;
	text-align: center;
}

.customer-support-box #payment-methods ul li {
	display: inline-block;
}

.customer-support-box #copyright {
	text-align: center;
	font-size: 10px;
	margin: 10px;
}

 	#copyright {
	text-align: center;
	font-size: 10px;
	margin: 10px;
}

.customer-support-box #inquiry ul li a:hover img, .customer-support-box #social-button ul li a:hover img {
	opacity: 0.8;
}

/* Style Per Language */
/*SC*/
body#lang-sc .customer-support-box #inquiry ul li:first-child {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	line-height: 19px;
	text-align: left;
	width: 101px;
}

body#lang-sc .content .amount-caption #bonus-text {
  color: #ffffff;
  font-size: 53px;
  font-weight: bolder;
}

body#lang-sc .content .amount-caption #percent {
  color: #ffd200;
  font-size: 89px;
  font-weight: bolder;
  line-height: 106px;
}

body#lang-sc  .customer-support-box #social-button {
	width: 165px;
}

/*TH*/
body#lang-th .customer-support-box #inquiry ul li:first-child {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	line-height: 19px;
	text-align: left;
	width: 160px;
}

body#lang-th .content .amount-caption #bonus-text {
	color: #ffffff;
	font-size: 29px;
	font-weight: bolder;
}

body#lang-th .customer-support-box #social-button {
	float: right;
	font-size: 10px;
	margin-right: -8px;
	margin-top: 10px;
	width: 221px;
}

/*VN*/
body#lang-vn  .content .amount-caption #currency {
	color: #ffd200;
	font-family: verdana;
	font-size: 25px;
	font-weight: bolder;
	line-height: 34px;
}

body#lang-vn .content .amount-caption #bonus-text {
	font-size: 21px;
	font-weight: bolder;
}

body#lang-vn .customer-support-box #inquiry ul li:first-child {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	font-size: 8px;
	line-height: 19px;
	text-align: left;
	width: 177px;
}

body#lang-vn .customer-support-box #inquiry ul li a {
	font-size: 9px !important;
	line-height: 20px;
}

body#lang-vn .customer-support-box #social-button ul li:first-child {
	padding-right: 2px;
}

body#lang-vn .customer-support-box #social-button ul li:first-child {
	font-size: 9px;
	padding-right: 2px;
}

body#lang-vn .customer-support-box #social-button {
	float: right;
	font-size: 10px;
	margin-right: -8px;
	margin-top: 10px;
	width: 239px;
}

body#lang-vn .customer-support-box #web-links {
	width: 707px;
	margin: 15px auto;
}

/*ID*/
body#lang-id .customer-support-box #inquiry {
	float: left;
	font-size: 10px;
	margin-left: 88px;
	margin-top: 12px;
	width: 400px;
}

body#lang-id .customer-support-box #inquiry ul li:first-child {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	font-size: 10px;
	line-height: 19px;
	text-align: left;
	width: 207px;
}

body#lang-id .customer-support-box #inquiry ul li a {
	font-size: 9px !important;
	line-height: 20px;
}

body#lang-id .customer-support-box #social-button ul li:first-child {
	padding-right: 2px;
}

body#lang-id .customer-support-box #social-button ul li:first-child {
	font-size: 10px;
	padding-right: 2px;
}

body#lang-id .customer-support-box #social-button {
	float: right;
	font-size: 10px;
	margin-right: -8px;
	margin-top: 10px;
	width: 219px;
}

body#lang-id .content .amount-caption #currency {
  color: #ffd200;
  font-family: verdana;
  font-size: 28px;
  font-weight: bolder;
  line-height: 34px;
}

/*KR*/
body#lang-kr .navigation li a span {
	color: #fff;
	font-size: 10px;
	font-weight: bold;
}

body#lang-kr .customer-support-box #inquiry ul li:nth-child(2), body#lang-kr .customer-support-box #inquiry ul li:nth-child(3) {

	font-size: 9px !important;
}

body#lang-kr .content .amount-caption #bonus-text {
	color: #ffffff;
	font-size: 31px;
	font-weight: bolder;
}

body#lang-kr .content .amount-caption #percent {
	color: #ffd200;
	font-size: 93px;
	font-weight: bolder;
	line-height: 106px;
}






#updated-footer{
    margin: 0 auto;
    width: 845px;

}


   .footer-sub{
       margin-top: 20px;

   }



       .social2{
           margin-top: 10px;
           margin-left: 100px;
           width: 200px;
           }



           

           #fb-icon{
               display: block;
               float: left;
               background:url(http://smkt.dafapromo.com/dafa888/2015/first-deposit-bonuses3/images/fb-icon.png) center top no-repeat;
               padding: 5px;
               width: 30px;
               height: 30px;

           }

           #googleplus-icon{
               display: block;
               float: left;
               background:url(http://smkt.dafapromo.com/dafa888/2015/first-deposit-bonuses3/images/googleplus-icon.png) center top no-repeat;
               padding: 5px;
               width: 30px;
               height: 30px;
           }

           #twitter-icon{
               display: block;
               float: left;
               background:url(http://smkt.dafapromo.com/dafa888/2015/first-deposit-bonuses3/images/twitter-icon.png) center top no-repeat;
               padding: 5px;
               width: 30px;
               height: 30px;
           }

           #youtube-icon{
               display: block;
               float: left;
               background:url(http://smkt.dafapromo.com/dafa888/2015/first-deposit-bonuses3/images/youtube-icon.png) center top no-repeat;
               padding: 5px;
               width: 30px;
               height: 30px;
           }



    .contact2{
        font-size: 12px;
        margin: 0 auto;
        width: 300px;


    }

    #email2{
        display: block;
        float: left;
        width: 170px;

    }



    #chat2{
        display: block;
        float: left;
        width: 115px;
        margin-left: 10px;

    }

    #email-icon{
        background:url(http://smkt.dafapromo.com/dafa888/2015/first-deposit-bonuses3/images/email-icon2.png) center top no-repeat;
        display: block;
        float: left;
        width: 28px;
        height: 18px;
    }

    #chat-icon{
        background:url(http://smkt.dafapromo.com/dafa888/2015/first-deposit-bonuses3/images/chat-icon2.png) center top no-repeat;
        display: block;
        float: left;
        width: 29px;
        height: 27px;

    }
    .txt{
        display: block;
        float: right;

    }



    .about-footer{
        display: block;
        float: left;
        width: 460px;
        font-size: 12px;
        line-height: 15px;
        text-align: left;
        margin-left: 5px;

    }

    .contact-footer{
      display: block;
        float: right;
        width: 360px;
        margin-right: -20px;

    }

     .contact-footer h5{
        text-align: center;

     }

     #clear{
      display: block;
      clear: both;

     }

